

body{
    background-color:lightblue;
    font-family:Times, sans-serif;
     font-size:600px;
    color:pink;
    display:flex;
    justify-content:center;
    height:100vh;
    margin:0;
    text-align:center;


}
h1{
    font-size:50px;
    color:darkblue;
}

p{
    font-size:50px;
    color:purple;
}

