<!--graphs.html
Name: Sarah Lam 
Description:passes the plotly graphs as context -->


{% extends 'voter_analytics/base.html' %}
{% block content %}
<!--displaying all the graphs needed-->
<h2>Voter for city</h2>
<div>
    <!--for the city distribution graph-->
    {{graph_distribution|safe}}
    </div>
<!--the distribution for birth year-->
<h2>Voter by birth</h2>
<div>
    {{graphs|safe}}
    </div>

<!--graph for the party affiliation-->
<h2>Voter by party affiliation</h2>
<div>
    {{graph_party|safe}}
    </div>

{% endblock %}


