
body{
    background-color:rgb(242, 200, 239);
    font-family:Times, sans-serif;
    color:rgb(56, 47, 161);


}
h1{
    color:darkblue;
}

p{
    font-size:20px;
    color:darkblue rgb(75, 40, 93);
}