{% load static %}
<html>
    <head>
        <title> Restaurant</title>
      <link rel="stylesheet" href="{% static 'restaurant/css/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Hot Mic's app</h1>
        </header>
        <nav>
            <a href="{% url 'main' %}" >Main</a>
           <a href= "{% url 'order' %}">Order</a>
         <a href=  "{% url 'confirmation' %}">Confirmation</a>
        </nav>
            {% block content %}{% endblock %}
            </body>
</html>

    </head>
</html>