{% extends 'restaurant/base.html' %}
{% block content %}
<div>
<h1>Hot Mic</h1>
<h2>Place your order</h2>
<h3> Select your item:</h3>

<form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
    <div>
    Mic's hot chicken tenders ($12.00):<input type="checkbox" name="menuitem" value="Mic's hot chicken tenders">
    </div>
  <div>Mic's hot cauliflower ($7.99):<input type="checkbox" name="menuitem" value="Mic's hot cauliflower"></div>
   <div> Mic's hot chicken sliders ($7.99):<input type="checkbox" name="menuitem" value="Mic's hot Chicken sliders"></div>
    <div>Mic's loaded fries ($7.99):<input type="checkbox" name="menuitem" value="Mic's loaded fries"></div>

   
    <div>
    Fries sauce options:</div>
    <div>Hot chili ($2.99):<input type="checkbox" name="option" value="Hot chili"></div>
     <div>Nacho Cheese($2.99):<input type="checkbox" name="option" value="Nacho Cheese"></div>
</div>
<div>
    Todays special:</div>
   <div> 100% Nuclear Wassabi($2.99):<input type="checkbox" name="special" value="100% Nuclear Wassabi"></div>

    </div>
    <div>
    Special instructions:<input type="text" name="instruct">
 </div>
<div>
    Customer Information:</div>
  <div>Name:</div> 
  <div><input type="text" name="name"></div> 
   
   
    Phone:
     <input type="text" name="phone">
     </div>
     <div>
     Email:
       <input type="text" name="email">
    </div>

       Your order!
          <input type=submit>

</form>
</div>
{% endblock %}