
{% load static %}
<html>
    <head>
        <title>{% block title %} Quotes{% endblock %}</title>
<link rel="stylesheet" href="{% static 'quotes/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Quotes app</h1>
        </header>
        <nav>
            <a href="{% url 'show_all' %}" >Show all</a>
           <a href= "{% url 'quote' %}">Quotes</a>
         <a href=  "{% url 'about' %}">About</a>
        </nav>
            {% block content %}{% endblock %}
            </body>
</html>

