


{# base template for mini insta #}


{% load static %}

<html>
    <head>
        {# the title display #}
        <title>Our Profile</title>
        <link rel="stylesheet" href="{% static 'mini_insta/style.css' %}">
    </head>
    <body>
        <header>
            {# the header of app #}
            <h1>Mini Insta</h1>
       
            
                  {# link to show all profile #}
                  {% if profile %}
                  <nav style="position:fixed;bottom:0;left:45%;width:100%;display:flex;">
                    <ul>
                    <li><a href="{% url 'mini_insta:profile_feed' profile.pk %}">Home</a></li>
                     <li><a href="{% url 'mini_insta:profile' profile.pk %}">Profile</a></li>
                   
                     </ul>
                     </nav>
                    {% endif %}
            

  </header>
        {% block content %}
        {% endblock %}
      
{% if profile %}
{# link for creating the new post #}
<div style="position:fixed;bottom:0;width: 100%; text-align:center">
    <a href="{% url 'mini_insta:create_post' profile.pk %}" class="btn btn-primary">
        Create post
        </a>
        </div>
        {% endif %}


    </body>



</html>