


{# base template for mini insta #}


{% load static %}

<html>
    <head>
        {# the title display #}
        <title>Our Profile</title>
        <link rel="stylesheet" href="{% static 'mini_insta/style.css' %}">
    </head>
    <body>
        <header>
            {# the header of app #}
            <h1>Mini Insta</h1>
       
            
                  {# link to show all profile #}
              <nav>
                  
                    <ul>
                         {% if request.user.is_authenticated %}
               
                    <li><a href="{% url 'mini_insta:profile_feed' %}">Home</a></li>
                     <li><a href="{% url 'mini_insta:profile' %}">Profile</a></li>
                     <li><a href="{% url 'mini_insta:search'  %}">Search</a></li>
                       <li><a href="{% url 'mini_insta:create_post' %}" class="btn btn-primary">Create Post</a></li>

                     <!-- add url for authentication-->
                          <li><form method="post" action="{% url 'mini_insta:logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                            </form>

                        </li>
                              {% else %}


                    
                        <li><a href="{% url 'mini_insta:login'  %}">Login</a></li>
                        {% endif %}

                

                      
                    

                   
                             </ul>
                             </nav>

         
<div>
                      {% if request.user.is_authenticated %}
                      
        
                     Logged in as: {{request.user}}
                     {% else %}
                    Not logged in.
                     {% endif %}
</div>
             
   

</header>
            

        {% block content %}
        {% endblock %}
</body>
      




</html>