
{# base template for mini insta #}


{% load static %}

<html>
    <head>
        <title>Our Profile</title>
        <link rel="stylesheet" href="{% static 'mini_insta/style-mini_insta.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini Insta</h1>
            <nav>
                <ul>
                  {# link to show all profile #}
                  {% if profile %}
                     <li><a href="{% url 'mini_insta:profile' profile.pk %}">Back to Profile</a></li>
                    <li><a href="{% url 'mini_insta:create_post' profile.pk %}">Create Post</a></li>
                    {% endif %}

                </ul>
            </nav>

  </header>
        {% block content %}
        {% endblock %}
      

    </body>



</html>