{% extends 'mini_insta/base.html' %}
{% block content %}
{# form for creating a new post for profile #}
<form method ="POST" enctype= "multipart/form-data">
{# header of page #}
<h1>Create new post</h1>
{# for security #}
    {% csrf_token %}
    <div>
        {# caption field #}
<label for="id_caption">Caption:</label>
    {{form.caption}}
    </div>

    <div>
        {# for the image url #}
        <label for="id_images">Upload Photo:</label>
        <input type="file" name="images" id="id_images" multiple>
    </div>
    {# submit button for create post #}
    <button type="submit">Post</button>
    {# for cancel to go back to profile #}
    <a href="{% url 'mini_insta:profile' profile.pk %}" class="btn btn-secondary">Cancel</a>

    </div>
</form>
{% endblock %}