

{# template for displaying all profiles #}
{% extends 'mini_insta/base.html' %}
{% block content %}
<h1>All Profiles</h1>



<main class="grid-container">
{% for profile in profiles %}
<article class="profiles">
    <div>
    <h2>{{profile.username}}</h2>
    {# link to individual pg #}
    <a href="{% url 'mini_insta:profile' profile.pk %}">
     <h3>{{profile.display_name}}</h3>
     <h4>{{profile.join_date}}</h4>
     <!--<img src="{{profile.profile_file.url}}" alt="{{profile.username}}'s profile image"-->
     {% if profile.image_file %}
      <img src="{{profile.image_file_url}}" alt="">
      {% else %}
      No image{% endif %}
   </a>
   {# for displaying biotext #}
     <p>{{profile.bio_text}}</p>
    </div>
    </article>
{% endfor %}
</main>
{% endblock %}