<!--mini_insta/update_profile_form.html-
displays the html file for the create a new profile obkect-->

{# 
    File:create_profile_form.html
    Author:Sarah Lam
    Description:display details for updating post detail
#}
{% extends 'mini_insta/base.html' %}
{% block content %}
<h1>Update Post</h1>
<!--displays the html form-->
<form action="{% url 'mini_insta:update_post' post.pk %}" method= "POST"
    enctype="multipart/form-data">

    {% csrf_token %}
<table>{{form.as_table}}</table>
<input type="submit" name="submit" value="Update">
</form>
<!--add a separate form for cancel button-->
<form action="{% url 'mini_insta:post_detail' post.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %} 